/* app/globals.css */

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0070f3;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

/* Set global styles */
body {
    font-family: var(--font-poppins), sans-serif;
    background-color: #333; /* Tailwind's blue-500 hex code */
    color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0058b7;
  color: #fff;
}

.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0047ab;
  color: #fff;
  padding: 1rem;
  border-bottom: 5px solid #fff;
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.links a {
  margin: 0 0.5rem 0 0.5rem;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
}

.search-button {
  padding: 0.7rem 1rem;
  margin-left: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0058b7;
}

.search-input:focus,
.search-button:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.repos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 0;
}

.repo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.repo-list li {
  margin: 2rem 0;
}

.repo-list a {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.repo-list a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.repo-list h3 {
  margin: 0;
  font-size: 1.5rem;
}

.repo-list p {
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}

.repo-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #999;
}

.repo-details span {
  display: flex;
  align-items: center;
}

.repo-details svg {
  margin-right: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;

  background-color: #fff;
  color: #333;
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.card .card-content {
  margin-top: 1rem;
}

.card .card-stats {
  display: flex;
  margin: 1rem 0;
}

.card .card-stat {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.card .card-stat svg {
  margin-right: 0.5rem;
}

.card .card-stat span {
  font-size: 0.9rem;
}

.courses .card h2 {
  margin-bottom: 0;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vertical-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.vertical-form input[type="text"],
.vertical-form input[type="email"],
.vertical-form input[type="number"],
.vertical-form select,
.vertical-form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.vertical-form button {
    padding: 0.75rem;
    border: 10px;
    border-radius: 4px;
    background-color: #0058b7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vertical-form button:hover {
    background-color: #0058b7;
}

.vertical-form button:disabled {
  color: #0058b7;
  background-color: blueviolet;
}

.vertical-form button.disabled:hover {
  color: #0058b7;
  background-color: blueviolet;
  cursor: not-allowed;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}
